<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{fontName}}</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 10px 20px;
    }

    {{{styles}}}
  </style>
</head>
<body>
  <h3>{{fontName}}</h3>
  <ul>
  {{#each names}}
    <li>
      <div class="preview">
        <div>.{{../classPrefix}}{{this}}</div>
        <div><i class="{{../classPrefix}}{{this}}"></i></div>
      </div>
    </li>
  {{/each}}
  </ul>
</body>
</html>
